.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.ipa
*.dSYM.zip
*.dSYM
*.p12
*.cer
*.mobileprovision
*.provisionprofile
.env
.env.*
TextSnap-*.dmg
TextSnap-*.zip
